<!-- 加载头部文件 -->
<include file="Public/header" />
<link href="__PUBLIC__/Static/css/signin.css" rel="stylesheet">
<!-- -->
<body class="text-center">
	<form class="form-signin" action="{:U('Home/user/user')}" method="post">
	  <img class="mb-4" src="__PUBLIC__/Static/img/my_logo.png" alt="" width="214" height="77">
	  <label for="inputEmail" class="sr-only">Email address</label>
	  <input type="email" id="inputEmail" class="form-control" name="user_email" placeholder="Email address" required autofocus>
	  <label for="inputPassword" class="sr-only">Password</label>
	  <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>

	  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
	  <button class="btn btn-lg btn-secondary btn-block" type="button" id="Retrieve">Retrieve password</button>
	  <button class="btn btn-lg btn-secondary btn-block" type="button" id="Sign">Sign up</button>

	</form>
<!-- 加载尾部文件 -->
	<script>
		$(function(){
			//找回密码
			$('#Retrieve').click(function(){	//window.open("");
				location.href = "{:U('Home/user/retrieve')}";
			 });

			//注册账号
			$('#Sign').click(function(){
				location.href = "{:U('Home/user/reg')}";
			 });
		})
	</script>
<include file="Public/footer" />